<div class="navbar bg-secondary text-white">
  <h1 class="ps-3">ToDoList</h1>
  <div class="d-flex">
    <LinkTo data-test-signin @route="sign-in" class="nav-link p-3">Sign in</LinkTo>
    <LinkTo data-test-signup @route="sign-up" class="nav-link p-3">Sign up</LinkTo>
  </div>
</div>